@model KnockoutjsDemo2.Models.OrderItem

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>OrderItem</legend>

    <div class="display-label">Quantity</div>
    <div class="display-field">@Model.Quantity</div>

    <div class="display-label">Product</div>
    <div class="display-field">@(Model.Product == null ? "None" : Model.Product.Name)</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>


